.image-container {
  height: 428px; 
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px); 
}
.effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55); 
  z-index: 1;
}
.text {
  z-index: 2; 
}


.h5we {
  color: #1f63c2;
  font-weight: 600;
  font-size: 16px;
}

.tit {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
}



.desc {
  margin-top: 1rem;
  font-size: 15px;
  color: #333;
}


.icon-img {
  width: 74px;
  height: 74px;
}

.dash-line {
  width: 130px;
  height: 2px;
  background-image: repeating-linear-gradient(
    to right,
    #240a0a,          
    #444 10px,
    transparent 10px,
    transparent 20px
  );
  margin: 35px 10px;
}

.icon-row {
  gap: 20px;
}

.service-offset-row {
    gap: 127px;
    margin-left: 61px;
    margin-right: 20px;
}


.offset-block {
  transform: translateX(35px); 
}

.offset-block ul {
  text-align: start;
  
}

.offset-block h5 {
  font-size: 20px;
  margin-bottom: 6px;
  color: #000;
}

.offset-block li {
  font-size: 14px;
  color: #240c0c;
   margin-bottom: 2px;

}

.custom-underline {
  display: inline-block;
  position: relative;
}

.custom-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background: linear-gradient(to right, var(--bs-primary) 80%, #e0e0e0 80%);

}
.text-st{
    font-size: 18px;
    font-weight: 400;
    padding-left: 43px !important;
}

.visimg{
    padding-right: 10px;
}
.misimg{
    padding-right: 15px;
}
.vis{
    padding-left: 44px !important;
    font-size: 18px;
    font-weight: 400;

}

