/* .contact-container{
    width:"1149px";
     height:"671";
     margin-left:'145px'
    } */

.box{
    width: 398px !important;
    height: 514px !important;
   border: 1px  rgb(233, 206, 206);
   margin-left: 77px;
}
.contactpage-container {
  height: 432px; 
  overflow: hidden;
}
.contactpage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px); 
}
.effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55); 
  z-index: 1;
}
.text {
  z-index: 2; 
}

@media (max-width: 768px) {
  .contact-doctor {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
  }

  .contact-box {

    height: auto !important;
    margin-left: 0px !important;
  }

  .con-cont {
    width: 100% !important;
    margin-left: 0px !important;
  }

  .con-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .contact-col {
    padding: 0 !important;
  }

  .contactpage-container {
  height: 300px !important;
  overflow: hidden;
}

.contactpage-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important; 
  display: block;
}
}
