.navbar-ap {
    margin-right: 25px !important;
}

.navbar-nava {
  display: flex !important;
  gap: 34px;
  margin-left: 150px;
  justify-content: flex-start;
  white-space: nowrap;
}
.navbar {
  position: relative;
  z-index: 1000;
}
.container-fluid.bg-white {
  overflow: visible !important;
  position: fixed !important;
  z-index: 1000;
  max-width: 100%;
}


.nav-item.dropdown {
  position: relative;
}
.custom{
  font-weight: 300;
  font-size: 18px;
  font-family: sans-serif;
}
.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 0;
  z-index: 2000;
  display: none; 
  margin-top: 0.25rem; 
}

.nav-item.dropdown.show .dropdown-menu {
  display: block;
}
.navbar-nava li {
  list-style: none;
}

.navbar-nava li a {
  color: #000;
  text-decoration: none;
}

.navbar-nava li a:hover {
  color: blue !important;
}
.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  word-break: keep-all;
}

.bright-view {
  font-weight: 600;
  color: #007bff;
  font-size: 20px;
}

.eye-hospital {
  font-weight: 600;
  color: #ffc107;
  font-size: 20px;
}
.enlarged-btn {
    padding: 0.55rem 2.0rem;
    font-size: 1.15rem;
    white-space: nowrap;
}


@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
    .location-bar .dropdown-menu {
    position: absolute !important;
    top: auto !important;
    bottom: 100% !important;
    left: auto !important;
    right: 0 !important;
    transform: translateY(-5px);
    min-width: max-content;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050;
  }
  .navbar-nava {
    flex-direction: column;     
    margin-left: 5px !important; 
    gap: 10px;                   
    align-items: flex-start;
  }
  .homeimg{
  padding: 0px !important;
}
  .navbar-ap {
    margin-right: 8px !important; 
    text-align: center;
    width: 100%;
  }
  .logo-text {
    font-size: 16px;             
    align-items: flex-start;  
  }
  .bright-view,
  .eye-hospital {
    font-size: 16px;
    line-height: 1.1;
  }
  .location-bar img {
    width: 35px;
    height: 20px;
  }
.location-bar{
  padding: 0px !important;
}
.container-fluid{
  max-width: 100%;
}
    .hospi-image {
        height: 350px !important;
        object-fit: cover !important;
    }
  .dropdown-menu {
    position: static !important;  
    width: 100%;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .enlarged-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    white-space: nowrap;
  }

  .navbar-collapse {
    background: white;
    padding: 10px;
    flex-wrap: wrap;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-link {
    padding-left: 0;
  }
}


  @media (max-width: 575.98px) {
  .location-bar {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}